nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 50px;
    height: 50px;
    background-color: #e2dddd;
    border-radius: 10px;
}
#signupform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e2dddd;
    max-width: 500px;
    margin-top: 200px;
    margin-left: 600px;
    border-radius: 10px;
    /* margin: auto; */
}